@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Yeseva+One&display=swap");

/* tailwindcss base styles */
@import "tailwindcss/base";

/* tailwindcss component styles */
@import "tailwindcss/components";

/* tailwindcss utility styles */
@import "tailwindcss/utilities";

html,
body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
}
